@page "/impressum"

<h1>Impressum</h1>

<div class="team-card" style="cursor: default;">
    <h2>Website</h2>
    <p>Dieses Impressum gilt für alle Angebote unter der Domain roterstern-abstiegsrechner.info sowie für alle Subdomains (Unterseiten).</p>
    <h2>Impressum Angaben gemäß § 5 TMG</h2>
    <p>
        Moritz Po&szlig;ecker<br />
        Grimmweg, 13<br />
        04277 Leipzig
    </p>
    <h2>Kontakt</h2>
    <p>
        Telefon: +49 15734314446<br />
        E-Mail: moritzpossecker@gmail.com
    </p>
    <p>
        Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">
            https://www.e-recht24.de/impressum-
            generator.html
        </a>
    </p>
</div>